{% extends "gard/base.html" %}

{% block title %}
    صفحه اصلی مدیریت حراست
{% endblock %}

{% block gard_content %}
    <section>
        <div class="container-fluid">
            <div class="row">

                <div class="col-lg-4 col-md-6 col-12 my-2">
                    <div class="card shadow">
                        <div class="card-header bg-warning text-center">تردد کل امروز</div>
                        <div class="card-body text-center bg-warning">
                            <i class="bi bi-building-check text-danger display-3"></i>
                            <h3>54 مورد ورودی</h3>
                        </div>
                        <div class="card-footer bg-warning"></div>
                    </div>
                </div>

                <div class="col-lg-4 col-md-6 col-12 my-2">
                    <div class="card shadow">
                        <div class="card-header bg-primary text-center text-white">تردد افراد ناشناس امروز</div>
                        <div class="card-body text-center bg-primary">
                            <i class="bi bi-building-dash display-3 text-white"></i>
                            <h3 class="text-white">54 مورد ورودی</h3>
                        </div>
                        <div class="card-footer bg-primary"></div>
                    </div>
                </div>

                <div class="col-lg-4 col-md-6 col-12 my-2">
                    <div class="card shadow">
                        <div class="card-header bg-success text-center text-white">تردد کارکنان امروز</div>
                        <div class="card-body text-center bg-success">
                            <i class="bi bi-building-check text-danger display-3 text-white"></i>
                            <h3 class=" text-white">54 مورد ورودی</h3>
                        </div>
                        <div class="card-footer bg-success"></div>
                    </div>
                </div>


                <div class="col-lg-4 col-md-6 col-12 my-2">
                    <div class="card shadow">
                        <div class="card-header bg-info text-center">تردد وسیله نقلیه امروز</div>
                        <div class="card-body text-center bg-info">
                            <i class="bi bi-building-check text-danger display-3"></i>
                            <h3>54 مورد ورودی</h3>
                        </div>
                        <div class="card-footer bg-info"></div>
                    </div>
                </div>

                <div class="col-lg-4 col-md-6 col-12 my-2">
                    <div class="card shadow">
                        <div class="card-header bg-warning text-center">صندوق ورودی پیام ها</div>
                        <div class="card-body text-center bg-warning">
                            <i class="bi bi-building-check text-danger display-3"></i>
                            <h3>54 مورد ورودی</h3>
                        </div>
                        <div class="card-footer bg-warning"></div>
                    </div>
                </div>

                <div class="col-lg-4 col-md-6 col-12 my-2">
                    <div class="card shadow">
                        <div class="card-header bg-danger text-center">یادداشت ها</div>
                        <div class="card-body text-center bg-danger">
                            <i class="bi bi-building-check text-dark display-3"></i>
                            <h3>54 مورد ورودی</h3>
                        </div>
                        <div class="card-footer bg-danger"></div>
                    </div>
                </div>



                <div class="col-12 my-5">
                    <ul dir="rtl">
                        <li>لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است</li>
                        <li>لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است</li>
                        <li>لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است</li>
                        <li>لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است</li>
                        <li>لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است</li>
                    </ul>
                </div>

            </div>
        </div>
    </section>
{% endblock %}

{% block gard_styles %}
{% endblock %}

{% block gard_scripts %}
{% endblock %}
