{#
    this template show user sends mails
    its inheritance from sections/sends_message.html
    and you should pass this values to work

         content["messages"] = message.paginate object
         content["current_page"] =  current page number
         content["referrer"] = link to paginate next/?page=2
#}

{% extends "admin/base.html" %}

{% block title %}
    نامه های ارسال شده من
{% endblock %}

{% block admin_style %}
{% endblock %}

{% block admin_content %}

    <section>
        <div class="container-fluid">
            <div class="row">
                <div class="col-12">
                    <h3 class="text-center">نامه های <span class="text-danger">ارسال</span> شده</h3>
                </div>
                {% include "sections/sends_message.html" %}
            </div>
        </div>
    </section>

{% endblock %}

{% block admin_scripts %}
    <script src="{{ url_for('login_public_static', path='js/add-linktr.js') }}"></script>

{% endblock %}


