{% extends "admin/base.html" %}



{% block title %}
    ویرایش مشخصات {{ content.user.FullName }}
{% endblock %}

{% block admin_styles %}
{% endblock %}

{% block admin_content %}
    <div class="container-fluid">
        <div class="row">

            <div class="col-12 my-5" dir="rtl">
                <h3 class="text-center">ویرایش مشخصات کاربری حساب <span
                        class="text-danger">کاربر</span> {{ content.user.FullName }}</h3>
            </div>

            <div class="col-12 my-5" dir="rtl">
                <form action="{{ url_for('admin.edit_user_post') }}" dir="rtl" method="POST">

                    {{ UserForm.hidden_tag() }}
                    <label class="my-3 w-100" for="username-user">
                        <span class="text-danger">*</span>
                        <span>نام کاربری کاربر را وارد نمایید </span>
                        {{ UserForm.Username(class="form-control", id="username-user", placeholder="نام کاربری به صورت لاتین") }}
                        <p class="m-0 text-center text-muted">نام کاربری باید به صورت تمام انگلیسی وارد شود</p>
                    </label>

                    <input type="hidden" name="user_key" value="{{ content.user.PublicKey }}">
                <label class="my-3 w-100" for="password-user">
                    <span class="text-danger">*</span>
                    <span>گذرواژه کاربر را وارد نمایید</span>
                    {{ UserForm.Password(class="form-control", id="password-user", placeholder="گذرواژه با درجه سختی بالا") }}
                    <p class="m-0 text-center text-muted">در انتخاب گذرواژه از اعداد و حروف استفاده شود</p>
                    <p class="m-0 text-center text-danger">به علت رمزنگاری گذرواژه امکان مشاهده گذرواژه وجود ندارد - در
                        صورتی که قصد تغییر گذرواژه کاربر را ندارید این کادر را رها کنید</p>
                </label>


                <label class="my-3 w-100" for="username-user">
                    <span class="text-danger">*</span>
                    <span>نام و نام خانوادگی کاربر را وارد نمایید</span>
                    {{ UserForm.Fullname(class="form-control", id="username-user", placeholder="به صورت فارسی") }}
                </label>

                <label class="my-3 w-100" for="user-role">
                    <span class="text-danger">*</span>
                    <span>نوع کاربر را مشخص نمایید</span>
                    {{ UserForm.UserRole(class="form-control",id="user-role") }}
                </label>

                <label class="my-3 w-100" for="status-user">
                    <span class="text-danger">*</span>
                    <span>وضعیت حساب کاربری را وارد نمایید</span>
                    {{ UserForm.Active(class="d-flex justify-content-around align-items-center list-unstyled", id="status-user") }}
                    <p class="m-0 text-center text-muted">در صورت غیرفعال بود حساب کاربر اجازه ورود به حساب کاربری خود
                        را ندارد</p>
                </label>

                {{ UserForm.Submit(value="ویرایش مشخصات کاربر", class="btn btn-success w-100") }}

                </form>
            </div>

        </div>

    </div>
{% endblock %}


{% block admin_scripts %}
{% endblock %}