{% extends "engineer/base.html" %}


{% block title %}
صفحه اصلی مهندسین
{% endblock title %}

{% block engineer_content %}
<section>
    <div class="container-fluid">
        <div class="row">

            <div class="col-lg-3 col-md-4 col-sm-6 col-12 my-2 info-card">
                <div class="card shadow">
                    <div class="card-body d-flex flex-column justify-content-center align-items-center text-center">
                        <i class="bi bi-archive display-1 text-warning"></i>
                    </div>
                    <div class="card-footer text-center">
                        <p>تعداد کل نامه های سامانه: {{ content.total_mails }} عدد</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-4 col-sm-6 col-12 my-2 info-card">
                <div class="card shadow">
                    <div class="card-body d-flex flex-column justify-content-center align-items-center text-center">
                        <i class="bi bi-archive display-1 text-warning"></i>
                    </div>
                    <div class="card-footer text-center">
                        <p>تعداد کل نامه های سامانه: {{ content.total_mails }} عدد</p>
                    </div>
                </div>
            </div>
                        <div class="col-lg-3 col-md-4 col-sm-6 col-12 my-2 info-card">
                <div class="card shadow">
                    <div class="card-body d-flex flex-column justify-content-center align-items-center text-center">
                        <i class="bi bi-archive display-1 text-warning"></i>
                    </div>
                    <div class="card-footer text-center">
                        <p>تعداد کل نامه های سامانه: {{ content.total_mails }} عدد</p>
                    </div>
                </div>
            </div>
                        <div class="col-lg-3 col-md-4 col-sm-6 col-12 my-2 info-card">
                <div class="card shadow">
                    <div class="card-body d-flex flex-column justify-content-center align-items-center text-center">
                        <i class="bi bi-archive display-1 text-warning"></i>
                    </div>
                    <div class="card-footer text-center">
                        <p>تعداد کل نامه های سامانه: {{ content.total_mails }} عدد</p>
                    </div>
                </div>
            </div>
                        <div class="col-lg-3 col-md-4 col-sm-6 col-12 my-2 info-card">
                <div class="card shadow">
                    <div class="card-body d-flex flex-column justify-content-center align-items-center text-center">
                        <i class="bi bi-archive display-1 text-warning"></i>
                    </div>
                    <div class="card-footer text-center">
                        <p>تعداد کل نامه های سامانه: {{ content.total_mails }} عدد</p>
                    </div>
                </div>
            </div>
                        <div class="col-lg-3 col-md-4 col-sm-6 col-12 my-2 info-card">
                <div class="card shadow">
                    <div class="card-body d-flex flex-column justify-content-center align-items-center text-center">
                        <i class="bi bi-archive display-1 text-warning"></i>
                    </div>
                    <div class="card-footer text-center">
                        <p>تعداد کل نامه های سامانه: {{ content.total_mails }} عدد</p>
                    </div>
                </div>
            </div>


        </div>
    </div>
</section>
{% endblock engineer_content %}