{#
    this template uses for showing user sends mails
    you should pass this values to work

         content["messages"] = message.paginate object
         content["current_page"] =  current page number
         content["referrer"] = link to paginate next/?page=2
#}


<div class="col-12">
    <div class="row">
        <div class="col-12 my-3" id="message-container">
            <div class="row">

                <div class="col-12 my-3" dir="rtl">
                    <table class="table table-dark table-bordered table-responsive table-hover">
                        <thead>
                        <tr>
                            <th>شماره</th>
                            <th>عنوان نامه</th>
                            <th>فرستنده</th>
                            <th>گیرنده</th>
                            <th>پیوست</th>
                            <th>تاریخ</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for msg in content.messages %}
                            <tr class="data-tr" data-mail-key="{{ msg.PublicKey }}">
                                <td>{{ msg.id }}</td>
                                <td>{{ msg.MailTitle }}</td>
                                <td>{{ msg.From | UserName }}</td>
                                <td>{{ msg.To | UserName }}</td>
                                <td>{{ "دارد" if msg.MailAttach else "ندارد" }}</td>
                                <td>{{ msg.MailTime }}</td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>

                {# pagination for employee in table #}
                <nav class="d-flex justify-content-center align-items-center" aria-label="Page navigation "
                     dir="ltr">
                    <ul class="pagination">

                        {% if content.messages.pages - content.current_page  >= 0 and content.current_page != 1 %}
                            <li class="page-item">
                                <a class="page-link"
                                   href="{{ content.referrer }}?page={{ content.current_page - 1 }}"
                                   aria-label="Previous">
                                    <span aria-hidden="true">&laquo;</span>
                                </a>
                            </li>
                        {% endif %}

                        {% for page in content.messages.iter_pages(right_edge=1, left_edge=1,right_current=1, left_current=1) %}
                            {% if page %}
                                {% if page == content.current_page %}
                                    <li class="page-item">
                                        <a class="page-link active"
                                           href="{{ content.referrer }}?page={{ page }}">{{ page }}</a>
                                    </li>
                                {% else %}
                                    <li class="page-item">
                                        <a class="page-link"
                                           href="{{ content.referrer }}?page={{ page }}">{{ page }}</a>
                                    </li>
                                {% endif %}
                            {% endif %}
                        {% endfor %}

                        {% if content.messages.pages - content.current_page > 0 %}
                            <li class="page-item">
                                <a class="page-link"
                                   href="{{ content.referrer }}?page={{ content.current_page + 1 }}"
                                   aria-label="Next">
                                    <span aria-hidden="true">&raquo;</span>
                                </a>
                            </li>
                        {% endif %}

                    </ul>
                </nav>


                <div class="col-12 my-3">
                    <h3 class="text-center mt-5">راهنمای استفاده از سیستم نامه رسان درونی</h3>
                    <ul class="d-flex flex-column justify-content-center align-items-center" dir="rtl">
                        <li>برای ارسال و دریافت نامه نیاز هست حتما برای حساب کاربری خود شناسه کاربری تعریف کنید - (برای
                            تنظم شناسه کاربری به تنظیمات مراجعه کنید)
                        </li>
                        <li>برای ارسال نامه باید حتما طرف مقابل هم دارای شناسه کاربری باشد</li>
                        <li>برای ناوبری بین بخش های مختلف میتوانید از دکمه های ناوبری فوق استفاده کنید</li>
                        <li>درخواست های خود را به صورت کامل و دقیق تشریح کنید</li>
                        <li>درخواست ها به صورت دو طرفه بوده(یک درخواست و یک جواب)</li>
                        <li>و امکان ریپلای کردن وجود ندارد درخواست خود را کامل وارد کنید</li>
                    </ul>
                </div>

            </div>
        </div>

    </div>
</div>
