{#

    this template use for searching in each user mailbox
    its inheritance from sections/search_message.html
    you should pass MailForms.SearchMailForm() to work
#}

{% extends "engineer/base.html" %}

{% block title %}
    جستجو در نامه های من
{% endblock %}

{% block engineer_style %}
{% endblock %}

{% block engineer_content %}

    <section>
        <div class="container-fluid">
            <div class="row">
                <div class="col-12">
                    <h3 class="text-center"><span class="text-danger">جستجو</span> در نامه های من </h3>
                </div>
                {% include "sections/search_message.html" %}
            </div>
        </div>
    </section>

{% endblock %}

{% block engineer_scripts %}
{% endblock %}


